[Unit]
Description=Enable soft reboot and shutdown of the server
After=network.target

[Service]
ExecStart=/opt/Geekworm-NASPi-Gemini-2.5/power_control
Type=simple
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
