[Unit]
Description=Modulate PWM fan speed
After=network.target

[Service]
ExecStart=/opt/Geekworm-NASPi-Gemini-2.5/pwm_fan_control
Type=simple
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
